/**/
/*
links #d11149

dark ruby #9f2042
space blue #2e294e
#2E2E2E
blue #00abe7
black #161b20
dark gray 3a3238
*/
/**/

.react-logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
  margin:0 auto;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
	margin:0;
	padding: 0;	
}

body {
	font-family: 'Open Sans', sans-serif;
	text-rendering:optimizeLegibility;
	color: #161b20;
}

h1, h2, h3, h4, h5, h6, time,  .basic-button, .sidebar a {
	font-family: 'Oxygen', sans-serif;
}

a {
	color:#d11149;
}

a:hover {
	color: #9f2042;
}

.wrapper {
	height: 100%;
}

.sidebar {
	box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.75);
	background-image: url('../img/noisy_net.png');
	background-color: #271f33;
	padding: 20px;
	text-align: center;
}

 .basic-button {
	border: solid 1px #d11149;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: bold;
	text-decoration: none;
}

.read-more, .gohome {
	font-size: 1.3em;
}

.read-more a {
	text-decoration: none;
}

@media (min-width: 1100px){
    .sidebar{
        width: 25%;
		height: 100vh;
		position: fixed;
		text-align: left;
    }
    main{
    	width: 75%;
       	margin-left: 25%;
    }
}

@media (min-width: 770px) and (max-width: 1099px){
	.sidebar{
        width: 33%;
		height: 100vh;
		position: fixed;
		text-align: left;
    }
    main{
    	width: 67%;
       	margin-left: 33%;
    }
}

/* SiteSidebar */

.sidebar-inner {
	color: white;
}

.sidebar-inner img {
	border-radius: 50%;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.sidebar-inner h1 a {
	color:#d3bcc0;
	text-decoration: none;
	outline: none;
}

/* **** */


/* SiteNav */

.blog-nav {
	margin: 20px 0px 10px;
}
.blog-nav ul {
	list-style: none;
	padding-left: 0;
}
.blog-nav ul li {
	margin: 10px 0 10px;
}
.blog-nav ul li a {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 26px;
	border-bottom: 0;
	font-weight: 400;
	font-size: 1.1em;
}

.blog-nav ul li a {
	text-decoration: none;
}

.blog-nav ul li a.current {
	border-bottom: solid 3px #d11149;
}
.blog-nav ul li a:hover {
	border-bottom: 1px solid;
}

/* ****** */

/* SiteLinks */

.blog-social {
	margin-top: 30px;
}
.blog-social ul {
	list-style: none;
	padding: 0;
	margin: 10px 0;
}

.blog-social a {
	display: inline-block;
	margin:0 5px;
	border:solid 1px #d11149;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 2em;
	text-align: center;
}

.blog-social a {
	font-size: 1.5em;
}

.blog-social a:hover {
	background-color: #d11149;
	
}

.blog-social a:hover {
	color: white;
}
/* ** */

/* Main  */

.main-inner, .blog-page, .index-content {
	padding: 15px 50px 15px;
}

.blog-post p, .blog-page p {
	text-align: justify;
}

.languages {
	padding: 50px;
}

.languages div {
	flex:1;
	text-align: center;
	padding: 20px;
}

.languages .circle {
	margin:0 auto;
	width: 100px;
	height: 100px;
	font-size: 2em;
	font-family: 'Oxygen';
	text-transform: uppercase;
	line-height: 2em;
	border-radius: 50%;
	color: white;
	background-color: #14191e;
}

.tools, .languages {
	display: flex;
	justify-content: space-around;
}

.tools div {
	color: #14191e;
	width: 250px;
	height: 250px;
	padding: 100px 20px;
	
}

/* ****** */

/* articles */

.blog-post {
	padding: 25px 0;
	border-bottom: solid 1px lightgrey;
}

.blog-post h2 {
	margin:0;
}

.blog-post time, .blog-post .blog-categories {
	font-size: 0.9em;
}

.blog-post h2 a {
	text-decoration: none;
}

.blog-categories {
	padding: 4px 8px;
	margin-right: 5px;
	background-color: #D8D8D8;
}

.read-more {
	float: right;
}
/* *********** */

/* Projects */

.projects-page {
	padding: 15px;
}

.projects-list, .projects-page h1 {
	max-width: 80%;
	margin:20px auto;
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 250px;
	height: 250px;
	margin:0 10px 10px 0;
	padding: 15px;
	text-align: center;
	background-color: #14191e;
	color: white;
}

.project p {
	text-align: center;
}

.project-links {
	display: flex;
	flex-direction:column;
}

.project-links a:first-child {
	margin-bottom: 10px;
}

/* ********* */


